

  /* LoginPage.css */
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-card {
    width: 100%;
    max-width: 100px; /* Set width to 100px */
    padding: 4px; /* Minimal padding */
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for subtle effect */
  }
  
  .logo-container {
    text-align: center;
    margin-bottom: 2px; /* Reduce spacing */
  }
  
  .logo {
    width: 310px; /* Further reduce logo size */
    height: auto;
  }
  
  .company-name {
    margin-top: 1px; /* Reduce spacing */
    font-size: 8px; /* Decrease font size */
  }
  
    
    /* Additional responsive adjustments */
    @media (max-width: 768px) {
      .card {
        width: 100%;
        padding: 20px;
      }
    
      .iconContainer {
        flex-direction: row;
        height: auto;
      }
    
      .iconBox {
        margin-bottom: 0;
        margin-right: 20px;
      }
    
      .iconBox:last-child {
        margin-right: 0;
      }
    }
    