/* Custom styles to decrease table size */
.custom-table .ant-table {
  width: 100%; /* Full width of the container */
  max-width: 600px; /* Maximum width of the table */
  margin: auto; /* Center the table */
}

.custom-table .ant-table-cell {
  padding: 1px; /* Adjust padding */
  
}

.list-item-custom {
  cursor: pointer;  /* Ensure the cursor is a pointer on hover */
  transition: background-color 0.2s ease-in-out;  /* Optional: smooth background change on hover */
}

.list-item-custom:hover {
  background-color: #f5f5f5;  /* Optional: Add hover effect */
}

/* Ensure modal has proper z-index */
.ant-modal {
  z-index: 10000 !important;  /* Add z-index to make sure it appears above other elements */
}
.ant-modal .ant-modal-body {
  overflow: auto;  /* Allow scrolling if raw data is too large */
}


.custom-table {
  height:"100px"  
}

/* Adjust column width for remaining columns */
.custom-table .ant-table-column {
  width: 90px; /* Adjust column width */
}

/* Adjust column header font sizes */
.custom-table .ant-table-header {
  font-size: 10px; /* Adjust font size of headers */
}


/* Optional: Scrollable container for long tables */
.scrollable-container {
  max-height: 400px;
  overflow-y: auto; /* Enable vertical scrolling */
}

.custom-table .ant-table-thead > tr > th,
.custom-table .ant-table-tbody > tr > td {
  text-align: center;
  vertical-align: middle;
  padding: 8px;
}



/* Background color for total row */
.custom-table .ant-table .ant-table-summary .ant-table-summary-row {
  background-color: lightbrown; /* Light brown for the total row */
}

/* Fixed header styles */
.ant-table-fixed-header {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Adjust Shift column for multi-line text */
.custom-table .ant-table-thead > tr > th:nth-child(1),
.custom-table .ant-table-tbody > tr > td:nth-child(1) {
  width: 80px; /* Set a smaller width for the Shift column */
  font-size: 12px; /* Increase font size for better visibility */
  text-align: center; /* Ensure Shift column text is center-aligned */
  white-space: normal; /* Allow the text to wrap */
  line-height: 1.2; /* Adjust line height for better spacing */
}

.custom-table .ant-table-column {
  width: 90px;
}

/* Adjust column header font sizes */
.custom-table .ant-table-header {
  font-size: 10px;
}

.bold-placeholder {
  font-weight: bold;
}